{% extends 'user_base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="{{ asset('js/jquery.star-rating-svg.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/star-rating-svg.css') }}">


    <div class="container">

        <style>
            .myimage img {
                border-radius: 10px;
                width: 200px;
                height: 200px;
                border: 1px #000000 solid;
            }
        </style>

        {# Profile image #}
            <div class="myimage">
                {% if user.image %}
                    <img src="{{ asset('images/uploads/avatars/' ~ user.image) }}" alt="" width="200px" height="200px">
                {% endif %}
            </div>


        {# Edit image button #}
        {% if isYou %}
            <a class="btn btn-primary" data-toggle="modal" data-target="#modalImage">Изменить фото</a>
        {% endif %}

        {# Modal for image edit #}
        <div class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Изменить изображение</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(formImage) }}
                    <div class="modal-body">
                        <img id="blah" src="#" alt="your image" width="200px" height="200px"/>
                        {{ form_row(formImage.image) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_widget(formImage.submit) }}
                    </div>
                    {{ form_end(formImage) }}
                </div>
            </div>
        </div>
        {# End of modal for image edit #}


        {% if isYou %}
            {% if user.roles[0] == 'ROLE_ADMIN' %}
                <a href="#" class="btn btn-primary">Admin</a>
            {% elseif user.roles[0] == 'ROLE_MODER' %}
                <a href="#" class="btn btn-primary">Moder</a>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') and not isYou%}
            <h1>BAN EGO</h1>
        {% endif %}

        <p>Name: {{ user.nickname }}
            {% if isYou %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalNickname">
                    Изменить
                </button>
            {% endif %}
        </p>

        {# Modal for nickname edit #}
        <div class="modal fade" id="modalNickname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Изменить ник</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(formNickname) }}
                    <div class="modal-body">
                        {{ form_row(formNickname.nickname) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_widget(formNickname.submit) }}
                    </div>
                    {{ form_end(formNickname) }}
                </div>
            </div>
        </div>
        {# End of modal for nickname edit #}


        {% if isYou %}
            <p>Email: {{ user.username }}</p>
        {% endif %}
        <p>Amount of violations: {{ user.violationActs.count }} *emoji*</p>

        <p>Rating:</p>
        <div class="my-rating-4" data-rating="{{ userRating }}"></div>

        <p>User's games:</p>
        {% for quiz in user.quizzes %}
            {% if quiz.isActive %}
                <p>{{ quiz.name }}</p>
                <p>{{ quiz.averageRating }}</p>
            {% endif %}
        {% endfor %}
    </div>

    {# Not ended quizes #}
    {% if isYou %}
        <div>
            {% if user.games.count %}
                <p>CANT END GAMES:</p>
                {% for game in user.games %}
                    {% if not game.gameIsOver %}
                        <p>{{ game.quiz.name }}</p>
                        <p>Вопрос №:{{ game.questionNumber }}</p>
                        <p>Автор:{{ game.quiz.user.nickname }}</p>
                        <p>
                            <a href="{{ path('games_details', {'quizId': game.quiz.id}) }}">Продолжить</a>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}


        </div>
    {% endif %}


    {# Script for rating stars #}
    <script>
        $(".my-rating-4").starRating({
            totalStars: 5,
            starShape: 'rounded',
            starSize: 40,
            emptyColor: 'lightgray',
            hoverColor: 'gold',
            activeColor: 'gold',
            useGradient: false,
            useFullStars: true,
            readOnly: true
        });
    </script>

    {# Script for display image #}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#blah').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#user_avatar_image").change(function() {

            readURL(this);
        });
    </script>
{% endblock %}
