{% extends 'user_base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block head %}
    <script src="{{ asset('js/imageDisplayHelper.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/star-rating-svg.css') }}">
    <link rel="stylesheet" href="{{ asset('css/quiz.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ asset('js/jquery.star-rating-svg.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="user-info">
        <div class="user-image">
            <div class="profile-image">
                {% if user.image %}
                    <img src="{{ asset('images/uploads/avatars/' ~ user.image) }}" alt="profile-image">
                {% else %}
                    <img src="{{ asset('images/profile/no-profile-image.png') }}" alt="no-image">
                {% endif %}
            </div>
            <div class="profile-image-edit">
                {% if isYou %}
                    <button id="btn-edit-image" class="btn btn-outline-success" data-toggle="modal" data-target="#modalImage">
                        Изменить фото
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="user-data">
            <div class="data">
                <div class="moder-admin">
                    {% if isYou %}
                        {% if user.roles[0] == 'ROLE_ADMIN' %}
                            <a href="#" class="btn btn-primary">Admin</a>
                        {% elseif user.roles[0] == 'ROLE_MODER' %}
                            <a href="#" class="btn btn-primary">Moder</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="user-nickname">
                    <div class="nickname-text text-wrap">
                        <p>Имя профиля: {{ user.nickname }}</p>
                    </div>
                    {% if isYou %}
                        <div class="nickname-edit">
                            <a type="button" class="" data-toggle="modal" data-target="#modalNickname">
                                <img src="{{ asset('images/profile/edit.png') }}" alt="Изменить">
                            </a>
                        </div>
                    {% endif %}
                </div>
                {% if isYou %}
                    <div class="user-email">
                        <p class="font-weight-lighterr">
                            Email: {{ user.username }}
                        </p>
                    </div>
                {% endif %}
                <div class="user-total-points">
                    <p>Очков за все игры: {{ user.sumOfPoints }}</p>
                </div>

                {# User avg game time (if != 0) #}
                {% include 'profile/avg-game-time.html.twig' %}

                {# User violations #}
                <div class="user-violations">
                        <p>Нарушений:</p>
                    {% include 'profile/violations-emoji.html.twig' %}
                </div>

                <div class="user-rating">
                    <p>Рейтинг</p>
                    <div class="user-stars-rating" data-rating="{{ userRating }}" title="{{ userRating|round(2) }}"></div>
                </div>
            </div>
        </div>
    </div>

    {# Modal for image edit #}
    {% include 'profile/modal-image.html.twig' %}

    {# Modal for nickname edit #}
    {% include 'profile/modal-nickname.html.twig' %}

    {# Tabs section #}
    <div class="tabs">
        {% include 'profile/section-tabs.html.twig' %}
    </div>
</div>

<script>
    {# Script for rating stars #}
    $(".user-stars-rating").starRating({
        totalStars: 5,
        starShape: 'rounded',
        starSize: 25,
        emptyColor: 'lightgray',
        hoverColor: 'gold',
        activeColor: 'gold',
        useGradient: false,
        useFullStars: true,
        readOnly: true
    });

    $(".quiz-stars-rating").starRating({
        totalStars: 5,
        starShape: 'rounded',
        starSize: 25,
        emptyColor: 'lightgray',
        hoverColor: 'gold',
        activeColor: 'gold',
        useGradient: false,
        useFullStars: true,
        readOnly: true
    });

    {# Script for display image #}
    $("#user_avatar_image").change(function() {
        readURL(this, '#selectedImage');
    });
</script>
{% endblock %}
