{% extends 'user_base.html.twig' %}

{% block title %}О системе{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/about-page.css') }}">

    <div class="container">
        <div class="help">
            <div class="help-block">
                <p class="help-head">
                    Выбор викторины для прохождения
                </p>
                <div class="help-body">
                    <p class="help-item">
                        После успешной <a href="{{ path('app_register') }}">регистрации</a> и <a href="{{ path('app_login') }}">авторизации</a> пользователю будут доступны викторины системы для прохождения на
                        <a href="{{ path('games_show') }}">странице викторин</a>.
                    </p>
                    <p class="help-item">
                        Для расширенного поиска на странице викторин представлена строка поиска и поиск по критериям викторины. Также на странице викторин доступна сортировка по названию и дате создания.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Начало игры
                </p>
                <div class="help-body">
                    <p class="help-item">
                        После выбора соответсвующей викторины на <a href="{{ path('games_show') }}">странице викторин</a> будет доступна детальная информация о викторине, текущие лидеры, а также кнопка старта викторины, после нажатия на которую начнется прохождение викторины.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Прохождение викторины
                </p>
                <div class="help-body">
                    <p class="help-item">
                        Прохождение викторины представляет собой страницу с текущим вопросом, его номером и вариантами ответов.
                    </p>
                    <p class="help-item">
                        После выбора предположительно правильного ответа и нажатия на кнопку “Отправить”, система сообщит результат ответа на вопрос и разблокирует кнопку перехода к следующему вопросу.
                    </p>
                    <p class="help-item">
                        Напротив вопроса и каждого варианта ответа представлена кнопка воспроизведения текста <img src="{{ asset('images/speaker.svg') }}" class="about-speaker"
                                                                                                            title="Воспроизведение текста"
                                                                                                            alt="audio"> вопроса/ответа.
                    </p>
                    <p class="help-item">
                        Если по какой-либо причине пользователь закрыл страницу с прохождением викторины, система сохранит текущий вопрос, результат и позволит завершить викторину начиная с сохраненного вопроса. Найти незаверешенные викторины можно в
                        <a href="{{ path('app.profile') }}">личном профиле</a> во вкладке “Незавершенные викторины”.
                    </p>
                    <p class="help-item">
                        После завершения викторины пользователю будет доступна информация о набранных очках, текущем месте среди лидеров и возможность оценить викторину.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Ограничение времени
                </p>
                <div class="help-body">
                     <p class="help-item">
                        Система предоставляет два вида ограничения времени: без ограничения по времени и ограничение времени в соответствии с размером викторины.
                    </p>
                    <p class="help-item">
                        Алгоритм системы высчитывает количество символов в викторине (учитываются длина текста вопроса и длина каждого варианта ответа). Ограничение времени предоставлятся на всю викторину, что позволяет более гибко распоряжаться доступным временем.
                    </p>
                    <p class="help-item">
                        После окончания времени система автоматически завершит викторину на текущем вопросе и сохранит достигнутый результат.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Лидеры
                </p>
                <div class="help-body">
                    <p class="help-item">
                        После прохождения викторины, пользователь попадает в список лидеров по пройденной викторине.
                    </p>
                    <p class="help-item">
                        При наличии у пользователей одинакового количества верных ответов, лидером определяется тот, кто прошел викторину быстрее.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Создание новой викторины
                </p>
                <div class="help-body">
                    <p class="help-item">
                        Любому успешно <a href="{{ path('app_login') }}">авторизированному</a> пользователю доступно <a
                                href="{{ path('quizes_create') }}">создание новой викторины</a>.
                    </p>
                    <p class="help-item">
                        На странице представлена форма создания викторины с соответствующими полями, загрузкой изображения и выбором вопросов викторины.
                    </p>
                    <p class="help-item">
                        Создание викторины основано на компоновке уже добавленных вопросов пользователем. При отсутствии вопросов система перенаправит пользователя на страницу
                        <a href="{{ path('questions_create') }}">добавления нового вопроса</a>.
                    </p>
                    <p class="help-item">
                        После создания викторина отправляется модератору на проверку.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Добавление нового вопроса
                </p>
                <div class="help-body">
                    <p class="help-item">
                        Страница <a href="{{ path('questions_create') }}">добавления нового вопроса</a> представляет из себя форму для ввода названия и вариантов ответа вопроса.
                    </p>
                    <p class="help-item">
                        Система позволяет выбрать несколько вариантов ответа на вопрос.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Правила создания и проведения викторин
                </p>
                <div class="help-body">
                    <p class="help-item">
                        Зарещено создавать викторины, которые:
                    </p>
                    <p class="help-item">
                        а) содержат угрозы, дискредитируют, оскорбляют, порочат честь и достоинство или деловую репутацию или нарушают неприкосновенность частной жизни других пользователей;
                    </p>
                    <p class="help-item">
                        б) нарушают права несовершеннолетних лиц;
                    </p>
                    <p class="help-item">
                        в) содержат порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
                    </p>
                    <p class="help-item">
                        г) содержат сцены бесчеловечного обращения с животными;
                    </p>
                    <p class="help-item">
                        д) содержат нецензурную лексику;
                    </p>
                    <p class="help-item">
                        е) содержат два и более одинаковых вопросов;
                    </p>
                    <p class="help-item">
                        Вопросы викторины должны быть обобщены тематикой, иметь смысл.
                    </p>
                    <p class="help-item">
                        Ответы на вопрос должны соответствовать названию вопроса. Запрещено добавлять одинаковые либо схожие по смыслу ответы.
                    </p>
                    <p class="help-item">
                        При несоблюдении правил создания викторин, модератор в праве удалить викторину. Система автоматически зачислит нарушение на аккаунт пользователя. При дальнйшем несоблюдении правил, система заблокирует аккаунт пользователя, на котором зарегистрированы <b>5</b> нарушений.
                    </p>
                </div>
            </div>
            <br>
            <div class="help-block">
                <p class="help-head">
                    Общие сведения
                </p>
                <div class="help-body">
                    <p class="help-item">
                        Система для проведение викторин
                    </p>
                    <p class="help-item">
                        Разработчик Бобрик А.В.
                    </p>
                    <p class="help-item">
                        МГКЭ 2020
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
