{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href={{ asset('css/main-page.css') }}>
    </head>

    <div class="container-fluid">
        <div class="info">
            <div class="description">
                <p class="display-4">Welcome!</p>
                <hr>
                <p class="font-weight-lighter">Welcome to the my quiz.</p>
                <p class="font-weight-lighter"><a href="{{ path('app_login') }}">{{ 'Login'|trans }}</a> to play games.</p>
                <p class="font-weight-lighter">If you don't have an account, <a href="{{ path('app_register') }}">{{ 'Register'|trans }}</a>.</p>
                <p class="font-weight-lighter">Go to games <a href="{{ path('games_show') }}">{{ 'Games'|trans }}</a>.</p>
                <p class="font-weight-lighter">Are you admin? <a href="{{ path('admin_index') }}">Admin Panel</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
