{% extends 'base.html.twig' %}


{% block title %} Регистрация {% endblock %}
{% block body %}

    <style>
        body {
            background: url("{{ asset('images/background.jpg') }}");
            background-size: cover;
        }
    </style>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3">
                {{ form_start(form) }}
                    <div class="form-group">
                        <h3>Регистрация</h3>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.email, {
                            'attr': {
                                'class': 'form-control',
                                'autofocus': true,
                                'autocomplete': 'off'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, {
                            'attr': {'class': 'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        <a href="{{ path('app_login') }}">Уже есть аккаунт?</a>
                    </div>

                    {{ form_row(form._token) }}


                {{ form_widget(form.submit, {
                    'label': 'Зарегистрироваться',
                    'attr': {'class': 'btn btn-primary btn-block'}
                    }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}