{% extends 'user_base.html.twig' %}

{% block title %}Новый вопрос{% endblock %}


{% block body %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('js/embeddedFormHelper.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/question-answers.css') }}">
    <link rel="stylesheet" href={{ asset('css/global.css') }}>
    <link rel="stylesheet" href={{ asset('css/quizes-questions_admin.css') }}>
    <link rel="stylesheet" href={{ asset('js/embeddedFormHelper.js') }}>


    {{ form_start(form) }}
    <div class="container">
        <div class="question-block">
            <div>
                <div>
                    {{ form_row(form.text, {
                        'label': 'Вопрос',
                        'attr': {
                            'placeholder': false,
                        }
                    }) }}
                </div>
                <div class="answers-block">
                    <ul class="list-group">
                        <ul id="type-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}"
                            data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
                            data-widget-counter="{{ form.answers|length }}">
                            {% for answer in form.answers %}
                                <li class="list-group-item">
                                    {{ form_widget(answer) }}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="add-answer-block">
                            <button type="button"
                                    class="add-another-collection-widget btn btn-info"
                                    data-list-selector="#type-fields-list">Добавить ответ (max 30)
                            </button>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="submit-block">
                {{ form_widget(form.submit, {
                    'label': 'Сохранить вопрос',
                    'attr': {'class': 'btn btn-success'},
                }) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}