{% extends 'user_base.html.twig' %}

{% block title %}Вопросы{% endblock %}

{% block body %}

    <style>
        .question-buttons {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .search {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .search-input {
            width: 100%;
        }

        tbody {
            word-break: break-word;
        }
    </style>

    <div class="container">
        <div class="question-buttons">
            <a href="{{ path('questions_create') }}" class="btn btn-primary">Новый вопрос</a>
            <a href="{{ path('quizes_create') }}" class="btn btn-info">Новая викторина</a>
        </div>

        {{ form_start(searchForm) }}
        <div class="search">
            <div class="search-input">
                {{ form_widget(searchForm.query, {
                    'required': false,
                    'attr': {
                        'placeholder': 'Поиск по названию',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(searchForm.submit) }}

            </div>
        </div>
        {{ form_end(searchForm) }}

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(questions, 'Вопрос', ['q.text']) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td><a href="{{ path('question_info', {'id': question.id}) }}" class="text-decoration-none">{{ question.text }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(questions) }}
        </div>
    </div>
{% endblock %}
