{% extends 'user_base.html.twig' %}

{% block title %}Вопрос {{ question.text }}{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <div class="question-buttons">
                <a href="{{ path('questions_create') }}" class="btn btn-primary">Новый вопрос</a>
                <a href="{{ path('questions') }}" class="btn btn-info">Все вопросы</a>
            </div>
            <div class="question-info">
                <h4>Вопрос: {{ question.text }}</h4>
            </div>
        </div>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Ответ</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer.text }}</td>
                        {% if answer.isCorrect %}
                            <td>✓</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
