{% extends 'base.html.twig' %}

{% block title %}Hello ModerController!{% endblock %}

{% block body %}

    <div class="container">
{#        <a href="{{ path('moder_quiz_deny', {'id': quiz.id}) }}" class="btn btn-danger">Deny</a>#}
        <a href="{{ path('moder_quiz_confirm', {'id': quiz.id}) }}" class="btn btn-success">Confirm</a>
        <p>Quiz: {{ quiz.name }}, author {{ quiz.user.username }}</p>
        <p>Question:</p>
        {% for question in questions %}
            <h5>{{ question.question.text }}</h5>
                {% for answer in question.question.answers %}
                    <p>{{ answer.text }}</p>
                {% endfor %}
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(questions) }}
    </div>

    <!-- Кнопка запуска модального окна -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Deny
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Violation select</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
{#                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>#}
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                {{ form_widget(form.violation) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
