{% extends 'admin_base.html.twig' %}

{% block title %}Нарушения{% endblock %}

{% block body %}
    <style>
        .search {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container">

        {{ form_start(searchForm) }}
        <div class="buttons-header">
            <a href="{{ path('admin_violations_acts_report') }}" class="btn btn-info">Отчет по нарушениям</a>
        </div>
        <div class="search">
            <div class="search-input">
                {{ form_widget(searchForm.query, {
                    'required': false,
                    'attr': {
                        'placeholder': 'Поиск по нарушению',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(searchForm.submit) }}

            </div>
        </div>
        {{ form_end(searchForm) }}

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Нарушение</th>
                <th scope="col">Дата нарушения</th>
            </tr>
            </thead>
            <tbody>
            {% for act in acts %}
                <tr>
                    <td>
                        <a href="{{ path('app.profile.info', {'nickname': act.user.nickname }) }}">
                            {{ act.user.nickname }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_violations_edit', {'id': act.violation.id}) }}">
                            {{ act.violation.name }}
                        </a>
                    </td>
                    <td>
                        {{ act.violationDate.format('d/m/Y H:i:s') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(acts) }}
        </div>
    </div>
{% endblock %}
