{% extends 'admin_base.html.twig' %}

{% block title %}Hello ViolationController!{% endblock %}

{% block body %}
    <style>
        .search {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container">

        {{ form_start(searchForm) }}
        <div class="buttons-header">
            <a href="{{ path('admin_violations_create') }}" class="btn btn-primary">Новый пункт нарушений</a>
        </div>
        <div class="search">
            <div class="search-input">
                {{ form_widget(searchForm.query, {
                    'required': false,
                    'attr': {
                        'placeholder': 'Поиск по названию',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(searchForm.submit) }}

            </div>
        </div>
        {{ form_end(searchForm) }}

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(violations, 'Нарушение', ['v.name']) }}</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for violation in violations %}
                <tr>
                    <td>
                        {{ violation.name }}
                    </td>
                    <td>
                        {{ violation.description }}
                    </td>
                    <td>
                        <a href="{{ path('admin_violations_edit', {'id': violation.id}) }}" class="btn btn-primary">Изменить</a>
                        <a href="{{ path('admin_violations_delete', {'id': violation.id}) }}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(violations) }}
        </div>
    </div>
{% endblock %}
