{% extends 'user_base.html.twig' %}

{% block title %}Game Play{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="{{ asset('js/game.js') }}"></script>

    <script>
        $('input[type=checkbox]').each(function() {
            this.checked = false;
        });
    </script>

{% endblock %}



{% block body %}
    <link rel="stylesheet" href="{{ asset('css/question-answers.css') }}">

    <div class="container">
        {{ form_start(form, {
            'action': path('game_play',{'gameId': game.id}),
            'attr':{novalidate:'novalidate'},
        }) }}
        <div class="container question-text">
            {{ form_widget(form.text, {
                    'attr': {'class': 'form-control-plaintext text-center shadow-none',
                    'autocomplete': 'off',
                    'readonly': true,
                }
            }) }}
            <div>
                <input type="button" value="Play" onclick="playQuestion()">
            </div>
        </div>
        <div class="row">
            <div class="answers col-md-12">
                {% for answer in form.answers %}
                    <div class="answer">
                        <div class="answer-isCorrect">
                            {{ form_row(answer.isCorrect, {
                                'attr': {'checked': true}
                            }) }}
                        </div>
                        <div class="answer-text">
                            {{ form_row(answer.text, {
                                    'attr': {'class': 'form-control shadow-none answer-input',
                                    'readonly': true,
                                }
                            }) }}
                            <div>
                                <input type="button" value="Play" onclick="playAnswer({{ loop.index }})">
                                <input type="button" value="Stop" onclick="synth.cancel()">
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# For text recognition #}
                <select style="display: none"></select>
            </div>
            <div class="result">
                <span id="result" class="font-weight-light"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="button" id="send" value="Send answer" class="btn btn-primary" onclick="stopTimer()">
        <a href="{{ path('game_play', {'gameId': game.id}) }}" id="next" class="btn btn-primary disabled">Next >></a>
    </div>

    {{ form_widget(form.submit, {
        'attr': {'disabled': true, 'hidden': true},
    }) }}

    <div class="container">
        <input type="hidden" id="game_id" value="{{ game.id }}">
        <input type="hidden" id="question_id" value="{{ question.id }}">
    </div>

    {{ form_end(form) }}

    {# TIMER #}

    {% if timeLimit %}
        <p id="timer"></p>

        <script>
            // Set the date we're counting down to
            var countDownDate =
                new Date('{{ game.startDate.format('Y-m-d') }}' + 'T'+ '{{ game.startDate.format('H:i:s') }}')
                .getTime() + {{ timeLimit }}; // ВРЕМЯ МИЛИСЕКУНДАМИ


            // Update the count down every 1 second
            let x = setInterval(function () {

                // Get NOW time
                var now = new Date().getTime();

                // Find the difference between now and the count down date
                var difference = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                // var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((difference % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("timer").innerHTML = minutes + "м " + seconds + "с ";

                // If the count down is over, write some text
                if (difference < 0) {
                    clearInterval(x);
                    document.getElementById("timer").innerHTML = "EXPIRED";
                }
            }, 1000);
        </script>


    {% endif %}

    {# END TIMER #}


    <script src="{{ asset('js/recognition.js') }}"></script>
    <script>
        function playAnswer(index) {
            index = index - 1;
            // console.log(index);
            let text = $('#question_answers_'+index+'_text').val();
            // console.log(text);
            speak(text);
        }

        function playQuestion() {
            text = $('#question_text').val();
            speak(text);
        }
    </script>
{% endblock %}