{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

    {% if isPassed %}
        <h1>Proshel, krasava</h1>
        <h1>Points: {{ game.resultScore }}</h1>
        <h1>User position: {{ app.user.email }} - {{ userPos }}</h1>
    {% else %}
        <h1>Ne proshel, try dis</h1>
        <input type="button" value="start">
    {% endif %}


    {% block leaders %}


        <table>
            <thead>
                <tr>
                    <td>N</td>
                    <td>User</td>
                </tr>
            </thead>

            <tbody>
            {% for leader in leaders  %}
                <tr class="{{ loop.index }}-place">
                    <td>{{ loop.index }}</td>
                    <td >{{ leader.email ?? '-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}
