{% extends 'user_base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="{{ asset('js/jquery.star-rating-svg.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/star-rating-svg.css') }}">


    <div class="container">
    {% block leaders %}
        <div class="leaderboard row">
            <div class="total-leaderboard col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Place</th>
                        <th scope="col">{{ 'Users'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for leader in leaders|slice(0, 3) %}
                        <tr class="place-{{ loop.index }}">
                            <td>{{ loop.index }}</td>
                            <td >{{ leader.nickname ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="user-leaderboard col-md-6">
                {% if isPassed %}
                    <div class="quiz-result">
                        <p class="font-weight-light quiz-passed-text">{{ 'Quiz Is Passed'|trans }}</p>
                        <p class="font-weight-light">{{ 'Points'|trans }}: {{ game.resultScore }}</p>
                        <div class="user-position">
                            <p class="font-weight-light">{{ 'Your Place'|trans }}: {{ userPos }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="game-start">
                        <p class="font-weight-light quiz-not-passed-text">{{ 'Quiz Not Passed'|trans }}</p>
                        <a href="{{ path('games_start_play', {'quizId': quizId  }) }}" class="btn btn-primary btn-block">Start</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    </div>

    {% if isPassed %}
        <div class="my-rating-4" data-rating="{{ rating.stars }}"></div>
    {% endif %}


    <script>
        $(".my-rating-4").starRating({
            totalStars: 5,
            starShape: 'rounded',
            starSize: 40,
            emptyColor: 'lightgray',
            hoverColor: 'gold',
            activeColor: 'gold',
            useGradient: false,
            useFullStars: true,
            {% if rating.stars > 0 %}
                readOnly: true,
            {% endif %}
            callback: function (currentRating, $el) {
                $.ajax({
                    url: '/games/'+ {{ quizId }} +'/rating/' + currentRating,
                    type: 'POST',
                    dataType: 'json',
                    data: currentRating
                });
            }
        });
    </script>
{% endblock %}
