{% extends 'user_base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <div class="container">
        <div class="quiz-sort">
            <p>{{ 'Sort By'|trans }}</p>
            <p>{{ knp_pagination_sortable(quizes, 'Quiz name', ['q.name']) }}</p>
            <p>{{ knp_pagination_sortable(quizes, 'Date created', ['q.created']) }}</p>
            <p>{{ knp_pagination_sortable(quizes, 'Is Active', ['q.isActive']) }}</p>
        </div>


        {{ form_start(searchForm) }}

        {{ form_widget(searchForm.query) }}
        {{ form_row(searchForm.categories) }}
        {{ form_widget(searchForm.submit) }}

        {{ form_end(searchForm) }}

        <div class="all-quizes">
            {% for quiz in quizes %}
                <div class="quiz">
                    <img src="{{ asset('images/uploads/quizes/' ~ quiz.image) }}" alt="image" width="100px" height="50px">
                    <div class="quiz-header">
                        <p class="font-weight-light">{{ quiz.name }}</p>
                    </div>
                    <hr>
                    <div class="quiz-created">
                        <p class="font-weight-lighter">{{ 'Created'|trans }}: {{ quiz.created.format('d/m/Y H:i:s') }}</p>
                    </div>

                    <div class="quiz-questions">
                        <p class="font-weight-lighter">{{ 'Questions Amount'|trans }}: {{ quiz.questions.count }}</p>
                    </div>
                    <div class="quiz-footer">
                        {% if quiz.isActive %}
                            <div class="quiz-active">
                                <p>{{ 'Active'|trans }}</p>
                            </div>
                            <div class="quiz-details">
                                <a href="{{ path('games_details', {'quizId': quiz.id}) }}" class="btn btn-primary">{{ 'Details'|trans }}</a>
                            </div>
                        {% else %}
                            <div class="quiz-inactive">
                                <p>{{ 'Inactive'|trans }}</p>
                            </div>
                            <div class="quiz-details-disable">
                                <a href="{{ path('games_details', {'quizId': quiz.id}) }}" class="btn btn-primary disabled">{{ 'Details'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(quizes) }}
        </div>
    </div>
{% endblock %}
