{% extends 'admin_base.html.twig' %}

{% block title %}Quizes{% endblock %}

{% block body %}

    <style>
        .search {
            display: flex;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container">

        {{ form_start(searchForm) }}
            <div class="search">
                <div class="search-input">
                    {{ form_widget(searchForm.query, {
                        'required': false,
                        'attr': {
                            'placeholder': 'Поиск по названию',
                        }
                    }) }}
                </div>
                <div class="search-submit">
                    {{ form_widget(searchForm.submit) }}

                </div>
            </div>
        {{ form_end(searchForm) }}

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(quizes, 'Викторина', ['q.name']) }}</th>
                <th scope="col"></th>
                <th scope="col">Автор</th>
                <th scope="col">Количество вопросов</th>
                <th>{{ knp_pagination_sortable(quizes, 'Дата создания', ['q.created']) }}</th>
                <th scope="col">Кем проверена</th>
                <th>{{ knp_pagination_sortable(quizes, 'Статус', ['q.isActive']) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizes %}
                <tr>
                    <td>
                        <a href="{{ path('admin_quizes_info', {'quizId': quiz.id}) }}" class="text-decoration-none">{{ quiz.name }}</a>
                    </td>
                    <td>
                        <img src="{{ asset('images/uploads/quizes/' ~ quiz.image) }}" alt="quiz-image" width="100px" height="100px">
                    </td>
                    <td>
                        <a href="{{ path('app.profile.info', {'nickname': quiz.user.nickname}) }}" class="text-decoration-none">
                            {{ quiz.user.nickname }}
                        </a>
                    </td>
                    <td>{{ quiz.questions.count }}</td>
                    <td>{{ quiz.created.format('d/m/Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_users_show') }}?q={{ quiz.checkedBy.nickname }}" class="text-decoration-none">
                            {{ quiz.checkedBy.nickname }}
                        </a>
                    </td>
                    <td>
                        {% if quiz.isActive %}
                            <a href="{{ path('admin_quiz_change-status', {'quizId': quiz.id}) }}" class="btn btn-success">Активна</a>
                        {% else %}
                            <a href="{{ path('admin_quiz_change-status', {'quizId': quiz.id}) }}" class="btn btn-danger">Не активна</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(quizes) }}
        </div>
    </div>

{% endblock %}
