{% extends 'admin_base.html.twig' %}

{% block title %}Quiz info{% endblock %}

{% block body %}
    <div class="container">
        <h4>Викторина: {{ quiz.name }}</h4>
        <h4>Автор: <a href="{{ path('app.profile.info', {'nickname': quiz.user.nickname}) }}">{{ quiz.user.nickname }}</a></h4>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Вопрос</th>
                    <th scope="col">Количество ответов</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        {{ question.question.text }}
                    </td>
                    <td>
                        {{ question.question.answers.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="buttons-footer">
            <a href="{{ path('admin_quizes_show') }}" class="btn btn-outline-dark">Все викторины</a>
        </div>
    </div>
{% endblock %}
