<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin{% endblock %}</title>

        {# Favicon #}
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/ico"/>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon"/>

        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('css/bootstrap.css') }}>
            <link rel="stylesheet" href={{ asset('css/bootstrap-grid.css') }}>
            <link rel="stylesheet" href={{ asset('css/global.css') }}>
            <link rel="stylesheet" href={{ asset('css/quizes-questions_admin.css') }}>
            <link rel="stylesheet" href={{ asset('js/embeddedFormHelper.js') }}>
        {% endblock %}
    </head>
    <body>

    {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('admin_index') }}">Администратор</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ path('games_show') }}">Главная</a>
                        <a class="nav-item nav-link" href="{{ path('admin_users_show') }}">Пользователи</a>
                        <a class="nav-item nav-link" href="{{ path('admin_quizes_show') }}">Все викторины</a>
                        <a class="nav-item nav-link" href="{{ path('moder_quizes') }}">Проверить викторины</a>
                        <a class="nav-item nav-link" href="{{ path('admin_quiz-categories') }}">Категории</a>
                        <a class="nav-item nav-link" href="{{ path('admin_violations') }}">Нарушения</a>
                    </div>
                    <div class="navbar-nav">
                        <a href="{{ path('app.profile') }}" class="navbar-brand">
                            <img src="{{ asset('images/profile.svg') }}" alt="profile" width="30px" height="30px">
                        </a>
                        <a href="{{ path('app_logout') }}" class="navbar-brand">
                            <img src="{{ asset('images/logout.svg') }}" alt="logout" width="30px" height="30px">
                        </a>
                    </div>
                </div>
            </nav>
    {% endblock %}
    <div>
        {% block flash_messages %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('js/embeddedFormHelper.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>

    {% endblock %}
    </body>
</html>
