{% extends 'admin_base.html.twig' %}

{% block title %}Пользователи{% endblock %}

{% block body %}

    <style>
        .search {
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        }

        .search-input {
        width: 100%;
        }
    </style>

    <div class="container">

        {{ form_start(searchForm) }}
        <div class="search">
            <div class="search-input">
                {{ form_widget(searchForm.query, {
                    'required': false,
                    'attr': {
                        'placeholder': 'Поиск по имени профиля и email',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(searchForm.submit) }}

            </div>
        </div>
        {{ form_end(searchForm) }}

        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">{{ knp_pagination_sortable(users, 'Имя профиля', ['u.nickname']) }}</th>
                <th scope="col"></th>
                <th scope="col">{{ knp_pagination_sortable(users, 'Статус', ['u.isActive']) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.roles[0] != 'ROLE_ADMIN' %}
                    <tr>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <a href="{{ path('app.profile.info', {'nickname': user.nickname}) }}">{{ user.nickname }}</a>
                        </td>
                        <td>
                            {% if user.roles[0] != 'ROLE_MODER' %}
                                <a href="{{ path('admin_user_appoint-as-moder', {'userId': user.id}) }}" class="btn btn-primary">
                                    Назначить модератором
                                </a>
                            {% else %}
                                <a href="{{ path('admin_user_reject-moder', {'userId': user.id}) }}" class="btn btn-danger">
                                    Убрать с должности модератора
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isActive %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-success">Активен</a>
                            {% else %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-danger">Не активен</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
