{% extends 'admin_base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">moder</th>
                <th scope="col">{{ knp_pagination_sortable(users, 'IsActive'|trans, ['u.isActive']) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.roles[0] != 'ROLE_ADMIN' %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.roles[0] != 'ROLE_MODER' %}
                                <a href="{{ path('admin_user_appoint-as-moder', {'userId': user.id}) }}">set moder</a>
                            {% else %}
                                <a href="{{ path('admin_user_reject-moder', {'userId': user.id}) }}">reject moder</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isActive %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-success">{{ 'Active'|trans }}</a>
                            {% else %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-danger">{{ 'Inactive'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
