{% extends 'admin_base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{#<div class="example-wrapper">#}
{#    <h1>Hello {{ controller_name }}! ✅</h1>#}

{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/nginx/public_html/quiz/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/nginx/public_html/quiz/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>#}
{#    </ul>#}
{#</div>#}

    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
{#                <th scope="col">Is Active</th>#}
                <th scope="col">{{ knp_pagination_sortable(users, 'Is Active', ['u.isActive']) }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.roles[0] != 'ROLE_ADMIN' %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>

                        <td>
                            {{ user.email }}
                        </td>

                        <td>
                            {% if user.isActive %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-success">Active</a>
                            {% else %}
                                <a href="{{ path('admin_user_change-status', {'userId': user.id}) }}" class="btn btn-danger">Inactive</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
